input {
	background: inherit;
	color: inherit;
	border: none;
	border-bottom: 1px solid $background-dark;
	padding: 5px 10px 0;
	font-size: 1.5em;
	margin-bottom: 5px;
}

input:focus {
	outline: none;
	border-bottom: 2px solid $primary;
	caret-color: $primary;
	color: $primary;
}

input:focus::placeholder {
	color: lighten($primary, 10%);
}

input::placeholder {
	color: $background-dark;
}

input.dark:focus {
	border-bottom-color: #fff;
	caret-color: #fff;
	color: #fff;
}

input.dark::placeholder {
	color: $grey-400;
}

input.dark {
	border-bottom-color: $grey-400;
}

@media (max-width: 768px) {
	input {
		min-width: 10px;
	}
}