@import 'sass/variables';

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px 40px;
	font-size: 1.2rem;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 60px;
}

.bottom-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
	box-shadow: $box-shadow-sm;
	background-color: $primary;
	color: #fff;
	padding: 0 10px;
	font-size: 1.5em;
	animation: slide-up 0.5s;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	button {
		color: inherit;
	}
	input {
		font-size: 1em;
	}
}

@keyframes slide-up {
	from { margin-bottom: -50px }
}