@import '~bootstrap/scss/bootstrap';

$fa-font-path: '../node_modules/font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

@import 'sass/fonts';
@import 'sass/variables';
@import 'sass/layout';
@import 'sass/forms';
@import 'sass/buttons';


#content {
	padding: 20px;
}

body {
	background-color: $background;
	font-family: 'Montserrat';
}

@media (max-width: 768px) {
	[data-show="large"] {
		display: none;
	}
}

@media (min-width: 769px) {
	[data-show="small"] {
		display: none;
	}
}